<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p class="text-center text-gray-400 mt-20 text-lg">404 — پەڕەکە نەدۆزرایەوە</p>
        </LayoutView>
    </NotFound>
</Router>
